{% extends "base.html" %}

{% load custom_filters %}

{% block content %}
  <h2 class="file-title">Ваші завантажені файли</h2>

  <!-- Фільтр категорій -->
  <div class="file-links-container">
    <a href="{% url 'files:file_list' %}" class="btn {% if selected_category == 'all' or not selected_category %}active{% endif %}">Усі файли</a>
    <a href="{% url 'files:file_list' %}?category=images" class="btn {% if selected_category == 'images' %}active{% endif %}">Зображення</a>
    <a href="{% url 'files:file_list' %}?category=documents" class="btn {% if selected_category == 'documents' %}active{% endif %}">Документи</a>
    <a href="{% url 'files:file_list' %}?category=videos" class="btn {% if selected_category == 'videos' %}active{% endif %}">Відео</a>
    <a href="{% url 'files:file_list' %}?category=audio" class="btn {% if selected_category == 'audio' %}active{% endif %}">Аудіо</a>
    <a href="{% url 'files:file_list' %}?category=archives" class="btn {% if selected_category == 'archives' %}active{% endif %}">Архіви</a>
    <a href="{% url 'files:file_list' %}?category=other" class="btn {% if selected_category == 'other' %}active{% endif %}">Інші файли</a>
  </div>

<div class="file-add-btn">
  <a role="button" href="{% url 'files:upload_file' %}" class="">Завантажити новий файл</a>  
</div>
  
  
  <div class="file-list-container">
    <ul>
      {% for file in files %}
      <li>
          <article class="file-card">
              <div class="file-link-container">
                <span>{{ file.file_url|file_emoji }}</span>
                <span class="file-extension">{{ file.file_url|lower|slice:'-3:'|upper }}</span>
                <a href="{{ file.file_url }}" target="_blank">{{ file.file_url|basename|truncatechars:15 }}</a>
              </div>
              <div class="file-btn-container">
                  {% with file_extension=file.file_url|lower|slice:'-3:' %}
                      {% if file_extension in "pdf txt jpg jpeg png gif svg webp mp4 webm ogg mp3 wav" %}
                          <a role="button" href="{{ file.file_url }}" target="_blank" class="">Переглянути</a>
                      {% endif %}
                  {% endwith %}

                  <a role="button" href="{% url 'files:download_file' file.id %}" class="">Завантажити</a>
                  <form action="{% url 'files:delete_file' file.id %}" method="post" >
                    {% csrf_token %}
                    <button class="file-del-btn" type="submit" class="" onclick="return confirm('Ви впевнені?')">Видалити</button>
                  </form>
              </div>
          </article>

  
  
  
          
        </li>
        {% empty %}
        <li>Файли ще не завантажено.</li>
        {% endfor %}
    </ul>
  
  {% endblock %}
  </div>
