{% extends "base.html" %}

{% block title %}Upload Successful{% endblock %}

{% block content %}
    <h2>Файл успішно завантажено!</h2>
    
    <p>Ваш файл <strong>{{ file_name }}</strong> був успішно завантажений і збережений.</p>

    <div>
        <a role="button" href="{% url 'files:upload_file' %}" class="btn btn-primary">Завантажити ще файл</a>
        <a role="button" href="{% url 'files:file_list' %}" class="btn btn-secondary">Назад до списку файлів</a>
    </div>

    <div class="file-alert-msg">
        Ви будете переадресовані до списку файлів через <span id="countdown">5</span> секунд...
    </div>

    <script>
        let timeLeft = 5;
        const countdownElem = document.getElementById("countdown");

        const countdown = setInterval(function() {
            timeLeft -= 1;
            countdownElem.textContent = timeLeft;
            if (timeLeft <= 0) {
                clearInterval(countdown);
                window.location.href = "{% url 'files:file_list' %}";
            }
        }, 1000);
    </script>
{% endblock %}
