{% extends "base.html" %}

{% block title %}Upload File{% endblock %}

{% block content %}
    <h2 style="display: flex; justify-self: center;" class="upload-file-title">Завантажити файл</h2>

        <article class="upload-card">

            <div style="display: flex; width: 50%">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button style="width: 46%;" type="submit">Завантажити</button>
                </form>
            </div>
            <div style="display: flex; flex-direction: column; width: 50%">
                <p><strong>Upload Limits:</strong></p>
                <ul>
                    <li>Max image size: 10 MB, 25 MP</li>
                    <li>Max video size: 100 MB</li>
                    <li>Max raw file size: 10 MB</li>
                    <li>Total megapixels: 50 MP</li>
                    <li><strong>Disallowed extension:</strong> .exe</li>
                </ul>
            </div>
        </article>    

    {% if error %}
        <div class="alert alert-warning">{{ error }}</div>
    {% endif %}

{% endblock %}


