{% extends "base.html" %}

{% block content %}
  <h2>{{ note.title }}</h2>
  <p>{{ note.content }}</p>
  <p><strong>Теги:</strong> {% for tag in note.tags.all %} {{ tag.name }} {% endfor %}</p>
  <div class="contact-details-btns">
    <a role="button" href="{% url 'notes:note-edit' note.pk %}">Редагувати</a>
    <a role="button" href="{% url 'notes:note-delete' note.pk %}" class="contact-del-btn">Видалити</a>
    <a role="button" href="{% url 'notes:note-list' %}" class="secondary">Назад</a>
  </div>
  {% endblock %}