{% extends "base.html" %}

{% block content %}
  <h2>Нотатки ({{ notes|length }})</h2>

  <!-- Форма пошуку -->
  <form method="GET" action="{% url 'notes:note-list' %}" class="mb-3">
    <input type="text" name="q" placeholder="Пошук нотаток..." value="{{ search_query }}" class="form-control">
    <button type="submit" class="btn btn-primary mt-2">Шукати</button>
  </form>

  <!-- Кнопка для додавання нової нотатки -->
  <a href="{% url 'notes:note-create' %}" class="btn btn-primary">Додати нотатку</a>

  <!-- Список нотаток -->
  <ul class="list-group mt-3">
    {% for note in notes %}
      <li class="list-group-item">
        <a href="{% url 'notes:note-detail' note.pk %}">{{ note.title }}</a>
      </li>
    {% empty %}
      <li class="list-group-item">Немає нотаток.</li>
    {% endfor %}
  </ul>

  <!-- Фільтр за тегами -->
  <form method="GET" action="{% url 'notes:note-list' %}">
    <label for="tag" aria-label="Фільтр за тегом">Фільтр за тегом:</label>
    <select name="tag" id="tag" onchange="this.form.submit()">
        <option value="">Всі теги</option>
        {% for tag in tags %}
            <option value="{{ tag.id }}" {% if request.GET.tag == tag.id|stringformat:"s" %}selected{% endif %}>
                {{ tag.name }}
            </option>
        {% endfor %}
    </select>
    <button type="button" onclick="document.getElementById('tag').value=''; this.form.submit();">
        Скинути
    </button>
</form>
{% endblock %}