{% extends "base.html" %}

{% block content %}
  <div class="tags-title">

    <h2>Теги ({{ tags|length }})</h2>
  </div>
  <div class="tags-add-btn">
    <a role="button" href="{% url 'notes:tag-create' %}" class="">Додати тег</a>
  </div>

  <div class="tags-container">
    <ul>
      {% for tag in tags %}
      <article>
        <li class="tags-content">
          {{ tag.name }}
          <a class="tag-del-btn" href="{% url 'notes:tag-delete' tag.pk %}">Видалити</a>
        </li>
      </article>
      {% empty %}
      <article>
        <l>Немає тегів.</li>
      </article>
      {% endfor %}
    </ul>
  </div>
{% endblock %}