{% extends "base.html" %}

{% block title %}Відновлення пароля{% endblock %}

{% block content %}
<h2>Відновлення пароля</h2>

{% for message in messages %}
    <div class="alert alert-{{ message.tags }}" role="alert">
        {{ message }}
    </div>
{% endfor %}

<form method="post" action="{% url 'users:password_reset' %}">
    {% csrf_token %}
    <div class="mb-3">
        <label for="email" class="form-label">Ваша електронна пошта</label>
        <input type="email" class="form-control" id="email" name="email" required>
    </div>
    <button type="submit" class="btn btn-warning">Надіслати запит</button>
</form>
{% endblock %}
