{% extends 'base.html' %}

{% block content %}
    <h2 style="display: flex; justify-self: center; margin-bottom: 64px">{% if object %}Редагувати{% else %}Додати{% endif %} контакт</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <div style="display: flex; gap: 16px; justify-content: center">
            <button style="margin: 0; width: 100%;" type="submit">Зберегти</button>
            <a role="button" href="{% url 'contacts:contact-list' %}" class="secondary">Назад</a>
        </div>
    </form>
{% endblock %}


