{% extends 'base.html' %}

{% block content %}
    <h2>{{ contact.first_name }} {{ contact.last_name }}</h2>
    <p>Phone number: {{ contact.phone }}</p>
    <p>Email: {{ contact.email }}</p>
    <p>Address: {{ contact.address }}</p>
    <p>Birthday: {{ contact.birthday }}</p>
    <div class="contact-details-btns">
        <a role="button" href="{% url 'contacts:contact-update' contact.pk %}">Редагувати</a>
        <a class="contact-del-btn" role="button" href="{% url 'contacts:contact-delete' contact.pk %}">Видалити</a>
        <a role="button" href="{% url 'contacts:contact-list' %}" class="secondary">Назад</a>
    </div>
{% endblock %}

