{% extends 'base.html' %} {% block content %}

<!-- Combined Search and Birthday Filter Form -->
<form
    class="note-search"
    role="search"
    method="GET"
    action="{% url 'contacts:contact-list' %}">

    <div role="group" class="form-group">
    <input name="query" type="search" placeholder="Шукати контакти ({{ contacts|length }})" value="{{ request.GET.query }}"/>
    
    <input
    type="number"
    class="form-control"
    style="width: 10%;"
    name="days_ahead"
    placeholder="🎂"
    value="{{ request.GET.days_ahead }}"
    min="0"
    />
    <input type="submit" value="Пошук" />
      
    </div>

</form>

<div class="contact-btn-container">
    <a role="button" href="{% url 'contacts:contact-create' %}" class="contact-add-btn">Додати контакт</a>
</div>

{% if request.GET.days_ahead %}
<div style="display:flex; margin-bottom: 24px; justify-self: center;">
  Показано контакти з днями народження через {{ request.GET.days_ahead }} днів.
</div>
{% endif %}

<table>
  <thead>
    <tr>
      <th scope="col">Ім'я</th>
      <th scope="col">Номер телефону</th>
      <th scope="col">Адреса</th>
      <th scope="col">День народження</th>
    </tr>
  </thead>
  <tbody>
    {% for contact in contacts %}
    <tr
      onclick="window.location.href='{% url 'contacts:contact-detail' contact.pk %}'"
      style="cursor: pointer"
    >
      <td>{{ contact.first_name }} {{ contact.last_name }}</td>
      <td>{% if contact.phone %} {{ contact.phone }} {% endif %}</td>
      <td>{% if contact.address %} {{ contact.address }} {% endif %}</td>
      <td>{% if contact.birthday %} {{ contact.birthday }} {% endif %}</td>
    </tr>
    {% empty %}
    <tr>
      <td colspan="4" class="text-center">Немає контактів.</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

 {% endblock %}

